
html{overflow-y:scroll;} /* Forces a scrollbar when the viewport is larger than the websites content - CSS3 */

body{margin:50px; padding:50px0; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:#979797; background-color:#fff5e7;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:block; clear:both;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

a{outline:none; text-decoration:none;}

code{font-weight:normal; font-style:normal; font-family:Georgia, "Times New Roman", Times, serif;}

.fl_left{float:left;}
.fl_right{float:right;}

img{margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgholder, .imgl, .imgr{padding:4px; border:1px solid #D6D6D6; text-align:center;}
.imgl{float:left; margin:0 15px 15px 0; clear:left;}
.imgr{float:right; margin:0 0 15px 15px; clear:right;}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

address, article, aside, figcaption, figure, footer, header, nav, section{display:block; margin:0; padding:0;}

q{display:block; padding:0 10px 8px 10px; color:#979797; background-color:#ECECEC; font-style:italic; line-height:normal;}
q:before{content:'� '; font-size:26px;}
q:after{content:' �'; font-size:26px; line-height:0;}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{display:block; width:960px; margin:0 auto; padding:10px; text-align:right;}

.row1, .row1 a{color:#979797; background-color:#FFFFFF;}
.row1{border-top-left-radius: 15px; border-top-right-radius: 15px; border-width: 1px; border-style:solid; border-color: black; border-bottom-style: none;}
.row2{color:#757575; background-color:#FFFFFF; border-width: 1px; border-style:solid; border-color: black; border-top-style: none; border-bottom-style: none;}
.row2 a{color:#FF9900; background-color:#FFFFFF;}
.row3{border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; border-width: 1px; border-style:solid; border-color: black; border-top-style: none;}
.row3{border-top:1px solid #DEDEDE;}
.row3, .row3 a{color:#979797; background-color:#FFFFFF;}

/*----------------------------------------------Generalise-------------------------------------*/

#header, #container, #footer{display:block; width:960px;}

nav ul{margin:0; padding:0; list-style:none;}

h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-size:16px; font-weight:bold; font-style:normal; line-height:normal; text-transform:uppercase;}

address{font-style:normal;}

blockquote, q{display:block; padding:8px 10px; color:#979797; background-color:#ECECEC; font-style:italic; line-height:normal;}
blockquote:before, q:before{content:'� '; font-size:26px;}
blockquote:after, q:after{content:' �'; font-size:26px; line-height:0;}

.one_third, .two_third, .three_third{display:block; float:left; margin:0 30px 0 0;}
.one_third{width:300px;}
.two_third{width:630px;}
.three_third{width:960px; float:none; margin-right:0; clear:both;}
.lastbox{margin-right:0;}

/*----------------------------------------------Header-------------------------------------*/

#header{}

#header #hgroup{padding:20px 0 0 0; float:left;}
#header #hgroup h1, #header #hgroup h2{font-weight:normal; text-transform:none;}
#header #hgroup h1{font-size:36px;}
#header #hgroup h2{font-size:13px;}

#header nav{display:block; float:right; margin:20px 0 0 0; padding:20px 10px; border-top:1px solid #DEDEDE; border-bottom:1px solid #DEDEDE;}
#header nav ul{}
#header nav li{display:inline; margin-right:25px; text-transform:uppercase;}
#header nav li.last{margin-right:0;}
#header nav li a{font-size: large; transition: 0.4s}
#header nav li a:hover{color:#FF9900; background-color:#FFFFFF;}

/*----------------------------------------------Content Area-------------------------------------*/

#container{padding:30px 0;}
#container section{display:block; width:100%; margin:0 0 30px 0; padding:0;}
#container .last{margin:0;}
#container .more{text-align:right; text-transform:uppercase; font-size:smaller; font-weight:bold;}

/* ------Slider-----*/

#container #slider{}
#container #slider a{display:block; padding:9px; border:1px solid #DEDEDE;}
#container #slider a:hover{border-color:#FF9900;}

/* ------Homepage-----*/

#container #homepage{line-height:1.6em;}
#container #homepage article{padding-bottom:20px;}
#container #homepage article h2{font-size:20px; margin-bottom:15px; padding-bottom:8px; border-bottom:1px solid #DEDEDE; color:#FF9900}
#container #homepage article h3{font-size:18px; margin-bottom:5px; padding-bottom:0px;}
#container #homepage article p{margin:4px; padding:0; font-size:15px}
#container #homepage article ul li{margin:4px; padding-top:5px; font-size:15px}
#container #homepage .three_third img{float:left; width:960px; margin:0 10px 10px 0; padding:4px; border:1px solid #DEDEDE;}
#container #homepage article img{float:left; width:300px; margin:0 10px 10px 0; padding:4px; border:1px solid #DEDEDE;}
#container #homepage article footer{margin:10px 0 0 0;}
:root{
    --border-color: #FF9900;
}
#container #homepage article a{opacity: 1; transition: .5s ease; position: absolute; color: var(--border-color); text-align: center; font-size: large; border-color: var(--border-color); border-radius: 30px; background:transparent; border-style:none}
#container #homepage article a:hover{opacity: 1; border-style: none; text-decoration: underline;}

/*----------------------------------------------Footer-------------------------------------*/

#footer{padding:20px 0;}
#footer p{margin:0; padding:0;}